
1-Frm_Apresentacao.Designer.cs
1-Frm_Apresentacao.resx
2-Frm_Abertura.Designer.cs
2-Frm_Abertura.resx
3-Frm_CadastroLivro.Designer.cs
3-Frm_CadastroLivro.resx
3.1-Frm_SistemaLIvros.Designer.cs
3.1-Frm_SistemaLIvros.resx
4-Frm_CadastroSocio.Designer.cs
4-Frm_CadastroSocio.resx
4.1-Frm_SistemaSocio.Designer.cs
App.config
bin/Debug/AxInterop.WMPLib.dll
bin/Debug/BouncyCastle.Crypto.dll
bin/Debug/Google.Protobuf.dll
bin/Debug/Google.Protobuf.pdb
bin/Debug/Google.Protobuf.xml
bin/Debug/Interop.WMPLib.dll
bin/Debug/K4os.Compression.LZ4.dll
bin/Debug/K4os.Compression.LZ4.Streams.dll
bin/Debug/K4os.Compression.LZ4.Streams.xml
bin/Debug/K4os.Compression.LZ4.xml
bin/Debug/K4os.Hash.xxHash.dll
bin/Debug/K4os.Hash.xxHash.xml
bin/Debug/MySql.Data.dll
bin/Debug/MySql.Data.xml
bin/Debug/Projeto_SitemaBiblioteca.exe
bin/Debug/Projeto_SitemaBiblioteca.exe.config
bin/Debug/Projeto_SitemaBiblioteca.pdb
bin/Debug/System.Buffers.dll
bin/Debug/System.Buffers.xml
bin/Debug/System.Memory.dll
bin/Debug/System.Memory.xml
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Numerics.Vectors.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/Ubiety.Dns.Core.dll
bin/Debug/ZstdNet.dll
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/AxInterop.WMPLib.dll
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Interop.WMPLib.dll
obj/Debug/Projeto_SitemaBiblioteca.csproj.AssemblyReference.cache
obj/Debug/Projeto_SitemaBiblioteca.csproj.CopyComplete
obj/Debug/Projeto_SitemaBiblioteca.csproj.CoreCompileInputs.cache
obj/Debug/Projeto_SitemaBiblioteca.csproj.FileListAbsolute.txt
obj/Debug/Projeto_SitemaBiblioteca.csproj.GenerateResource.cache
obj/Debug/Projeto_SitemaBiblioteca.csproj.ResolveComReference.cache
obj/Debug/Projeto_SitemaBiblioteca.csproj.SuggestedBindingRedirects.cache
obj/Debug/Projeto_SitemaBiblioteca.exe
obj/Debug/Projeto_SitemaBiblioteca.Frm_Abertura_Biblioteca.resources
obj/Debug/Projeto_SitemaBiblioteca.Frm_Apresentacao.resources
obj/Debug/Projeto_SitemaBiblioteca.Frm_CadastroLivro.resources
obj/Debug/Projeto_SitemaBiblioteca.frm_CadastroSocio.resources
obj/Debug/Projeto_SitemaBiblioteca.Frm_SistemaLIvros.resources
obj/Debug/Projeto_SitemaBiblioteca.Frm_SistemaSocio.resources
obj/Debug/Projeto_SitemaBiblioteca.pdb
obj/Debug/Projeto_SitemaBiblioteca.Properties.Resources.resources
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
packages.config
packages/BouncyCastle.1.8.5/.signature.p7s
packages/BouncyCastle.1.8.5/BouncyCastle.1.8.5.nupkg
packages/BouncyCastle.1.8.5/lib/BouncyCastle.Crypto.dll
packages/BouncyCastle.1.8.5/README.md
packages/Google.Protobuf.3.19.4/.signature.p7s
packages/Google.Protobuf.3.19.4/Google.Protobuf.3.19.4.nupkg
packages/Google.Protobuf.3.19.4/lib/net45/Google.Protobuf.dll
packages/Google.Protobuf.3.19.4/lib/net45/Google.Protobuf.pdb
packages/Google.Protobuf.3.19.4/lib/net45/Google.Protobuf.xml
packages/Google.Protobuf.3.19.4/lib/net5.0/Google.Protobuf.dll
4.1-Frm_SistemaSocio.resx
packages/Google.Protobuf.3.19.4/lib/net5.0/Google.Protobuf.pdb
packages/Google.Protobuf.3.19.4/lib/net5.0/Google.Protobuf.xml
packages/Google.Protobuf.3.19.4/lib/netstandard1.1/Google.Protobuf.dll
packages/Google.Protobuf.3.19.4/lib/netstandard1.1/Google.Protobuf.pdb
packages/Google.Protobuf.3.19.4/lib/netstandard1.1/Google.Protobuf.xml
packages/Google.Protobuf.3.19.4/lib/netstandard2.0/Google.Protobuf.dll
packages/Google.Protobuf.3.19.4/lib/netstandard2.0/Google.Protobuf.pdb
packages/Google.Protobuf.3.19.4/lib/netstandard2.0/Google.Protobuf.xml
packages/K4os.Compression.LZ4.1.2.6/.signature.p7s
packages/K4os.Compression.LZ4.1.2.6/K4os.Compression.LZ4.1.2.6.nupkg
packages/K4os.Compression.LZ4.1.2.6/lib/net45/K4os.Compression.LZ4.dll
packages/K4os.Compression.LZ4.1.2.6/lib/net45/K4os.Compression.LZ4.xml
packages/K4os.Compression.LZ4.1.2.6/lib/net46/K4os.Compression.LZ4.dll
packages/K4os.Compression.LZ4.1.2.6/lib/net46/K4os.Compression.LZ4.xml
packages/K4os.Compression.LZ4.1.2.6/lib/netstandard1.6/K4os.Compression.LZ4.dll
packages/K4os.Compression.LZ4.1.2.6/lib/netstandard1.6/K4os.Compression.LZ4.xml
packages/K4os.Compression.LZ4.1.2.6/lib/netstandard2.0/K4os.Compression.LZ4.dll
packages/K4os.Compression.LZ4.1.2.6/lib/netstandard2.0/K4os.Compression.LZ4.xml
packages/K4os.Compression.LZ4.Streams.1.2.6/.signature.p7s
packages/K4os.Compression.LZ4.Streams.1.2.6/K4os.Compression.LZ4.Streams.1.2.6.nupkg
packages/K4os.Compression.LZ4.Streams.1.2.6/lib/net45/K4os.Compression.LZ4.Streams.dll
packages/K4os.Compression.LZ4.Streams.1.2.6/lib/net45/K4os.Compression.LZ4.Streams.xml
packages/K4os.Compression.LZ4.Streams.1.2.6/lib/net46/K4os.Compression.LZ4.Streams.xml
packages/K4os.Compression.LZ4.Streams.1.2.6/lib/netstandard1.6/K4os.Compression.LZ4.Streams.dll
packages/K4os.Compression.LZ4.Streams.1.2.6/lib/netstandard2.0/K4os.Compression.LZ4.Streams.dll
*.xml
*.dll
Properties/Settings.Designer.cs
Properties/Resources.resx
Properties/Resources.Designer.cs
Properties/Settings.settings
Properties/AssemblyInfo.cs
Projeto_SitemaBiblioteca.sln
Projeto_SitemaBiblioteca.csproj
*.txt
*.nupkg
*.p7s
*._
